
@using MvcReproductor.Models;

@model  List<Antiextorsion>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br /><br />
<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>Usuario</th>
        <th>Usuario Nombre</th>
        <th>Audio</th>
        <th>Archivo</th>
    </tr>

    @if (Model != null)
    {
        foreach (var I in Model)
        {
            <tr>
                <td>@I.Usuario</td>
                <td>@I.UsuarioNombre</td>
                <td>@I.Audio</td>
                <td>@Html.ActionLink("Reproducir", "MediaPlayerVideo", new { Ruta = I.Ruta }) </td>

            </tr>
        }
    }
</table>
<br /><br />