
@{
    ViewBag.Title = "RecordAudio";
}

<h2>RecordAudio</h2>

<div class="button">
    <form method="POST">
        <button type="submit" id="Record" name="Record" class="btn btn-default">GetData</button>
    </form>
    <form method="POST">
        <button type="submit" id="StopRecord" name="StopRecord" class="btn btn-default">ExportData</button>
    </form>
</div>

